body{
    background-color: rgba(254, 255, 255, 0.597);
    
    }
    
    .container {
        position: relative;
        z-index: 2;
      }
      
      .texto {
        color: aliceblue;
        position: absolute;
        top: 40%;
        left: 15%;
        font-size: x-large;
        transform: translate(-40%, -10%);
        z-index: 1;
      }
    
      .botao{
        background-color: rgb(45, 94, 230);
        color: aliceblue;
        font-family: 'Times New Roman', Times, serif;
        font-size: larger;
        position: absolute;
        z-index: 4;
        transform: translate( +30%, -400%);
        border-radius: 10px;
      }
    
      .barra{
       height: 30px;
    
       border-radius: 50px;
       width: 600px;
      }
    
     .tresquadrados{
        display: flex;
        
     }
    
      .um, .dois, .tres{
        padding: 10px;
        margin: 25px;
    border-radius: 10px;
    background-color: aliceblue;
    text-align: center;
    width: 200px;
    height: 300px;
      }
    
     
      
    .primeiro, .segundo{
        display: inline-block;
       background-color: aliceblue;
      text-align: center;
      width: 300px;
      padding: 10px;
      
      } 
    
     .blau,.blou{
      display: inline-block;
      background-color: aliceblue;
      text-align: left; 
      width: 300px;
      padding: 20px;
     }
    
     .buscar, .trêsquadrados, .doisquadrados, .balou{
    margin-left: 20px;
     }
    
    button{
      background-color: rgb(45, 94, 230);
        color: aliceblue;
        font-family: 'Times New Roman', Times, serif;
        font-size: larger;
    }